{:linters
 {:unused-import {:level :off}
  :unused-binding {:level :off}
  #_#_:unused-namespace {:level :off}
  :unused-private-var {:level :off}
  :unresolved-namespace {:level :error}
  :unresolved-var {:level :error}
  :clojure-lsp/unused-public-var {:exclude #{laser-show.idn.hello
                                             laser-show.idn.stream}
                                  :exclude-when-defined-by #{laser-show.state.core/defstate}}}
 
 :hooks
 {:analyze-call
  {laser-show.state.core/defstate hooks.laser-show.state.core/defstate}}}
